# ============================================
# PYTHON
# ============================================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Python build/package files
build/
dist/
*.egg-info/


# ============================================
# DATASETS
# ============================================

# Raw datasets
data/raw/
data/raw/ESC-50/

# Processed/generated data
data/processed/
data/splits/


# ============================================
# AUDIO FILES
# ============================================

*.wav
*.m4a
*.mp3
*.flac
*.ogg


# ============================================
# TEMPORARY FILES
# ============================================

*.log
*.tmp
*.temp


# ============================================
# MACOS
# ============================================

.DS_Store


# ============================================
# VS CODE
# ============================================

.vscode/


# ============================================
# JUPYTER
# ============================================

.ipynb_checkpoints/


# ============================================
# ENVIRONMENT / SECRETS
# ============================================

.env
.env.*
!.env.example


# ============================================
# MODELS
# ============================================

# Intentionally NOT ignoring .pt/.pth files.
# models/best_cnn.pt will be uploaded to GitHub.
