# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# Processed/generated data
data/processed/

# Raw datasets
data/raw/ESC-50/

# Temporary audio files
*.wav
*.m4a
*.mp3

# Environment files
.env
